{% extends "base.html" %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% load custom_filters %}
{% block content %}

<h1>Current folder: {{ current_folder }}</h1>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/dist/bootstrap-icons.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">



    <!-- CSS only -->
<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'explore_Admin' %}">Root</a>
    </li>
    {% if current_folder %}
        {% with folder_parts=current_folder.split|slice:":-1" current_path="" %}
            {% for folder in folder_parts %}
                {% with current_path=current_path|add:folder|add:'/' %}
                    <li class="breadcrumb-item">
                        <a href="{% url 'explore_Admin' folder_name=current_path %}">{{ folder }}</a>
                    </li>
                {% endwith %}
            {% endfor %}
        {% endwith %}
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">{{ current_folder|default:"Root" }}</li>
</ol>




    
    <div class="container mt-5">
        <div class="list-group">

<!-- 
            {% for item in files_and_folders %}
            {% if item.is_file %}
                {% if current_folder %}
                    <a href="{% url 'explore_Admin' folder_name=current_folder|add:'/'|add:item.name %}" download class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                {% else %}
                    <a href="{% url 'explore_Admin' folder_name=item.name %}" download class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                {% endif %}
                    <span>
                        <i class="bi bi-file-earmark-text-fill"></i> {{ item.name }} 
                    </span>
                    <span>
                        <small class="text-muted">{{ item.date_modified }}</small>
                        <i class="bi bi-download ms-2"></i>
                         <a href="{% url 'delete_file' file_path=item.full_path %}" class="text-danger ms-2">
                        <i class="bi bi-trash"></i>
                    </a>
                    </span>
                </a>
            {% else %}
                {% if current_folder %}
                    <a href="{% url 'explore_Admin' folder_name=current_folder|add:'/'|add:item.name %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                {% else %}
                    <a href="{% url 'explore_Admin' folder_name=item.name %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                {% endif %}
                    <span>
                        <i class="bi bi-folder-fill"></i> {{ item.name }} 
                    </span>
                    <small class="text-muted">{{ item.date_modified }}</small>
                     <a href="{% url 'delete_folder' folder_path=item.full_path %}" class="text-danger ms-2">
                    <i class="bi bi-trash"></i>
                </a>
                </a>
            {% endif %}
        {% endfor %} -->

        {% for item in files_and_folders %}
        {% if item.is_file %}
            {% with full_path=MEDIA_ROOT|add:'/'|add:current_folder|add:'/'|add:item.name %}
                {% if current_folder %}
                    <a href="{% url 'explore_Admin' folder_name=current_folder|add:'/'|add:item.name %}" download class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                {% else %}
                    <a href="{% url 'explore_Admin' folder_name=item.name %}" download class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                {% endif %}
                        <span>
                            <i class="bi bi-file-earmark-text-fill"></i> {{ item.name }} 
                        </span>
                        <span>
                            <small class="text-muted">{{ item.date_modified }}</small>
                            <i class="bi bi-download ms-2"></i>
                            <!-- <a href="{% url 'delete_file' file_path=full_path %}" class="text-danger ms-2">
                                <i class="bi bi-trash"></i>
                            </a> -->
                        </span>
                    </a>
            {% endwith %}
        {% else %}
            {% with full_path=MEDIA_ROOT|add:'/'|add:current_folder %}
                {% if current_folder %}
                    <a href="{% url 'explore_Admin' folder_name=current_folder|add:'/'|add:item.name %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                {% else %}
                    <a href="{% url 'explore_Admin' folder_name=item.name %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                {% endif %}
                        <span>
                            <i class="bi bi-folder-fill"></i> {{ item.name }} 
                        </span>
                        <small class="text-muted">{{ item.date_modified }}</small>
                       <!--  <a href="{% url 'delete_folder' folder_path=full_path %}" class="text-danger ms-2">
                            <i class="bi bi-trash"></i>
                        </a> -->
                    </a>
            {% endwith %}
        {% endif %}
    {% endfor %}
    
        
        
        


        </div>
    </div>
    
{% endblock content %}