{% extends "base.html" %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% load custom_filters %}
{% block content %}


       <!-- Messages area -->

      
     
       <div class="row">     
   
        <div class="d-flex justify-content-end col-lg-6">          
          <a href="{% url 'explore_Admin' %}">Download the latest tools: </a>         
      </div>
      
          </div>
       
          <div class="row">  

            <div class="col-lg-12">
              <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-octagon me-1"></i>
                    {{ message|safe }} <br>      
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}    
                    

                    {% if msg %} {% autoescape off %} {{ msg }} {% endautoescape %} {% endif %}
                    <div id="msg"></div>
                    <p>
          </div>
          </div>
          </div>
            
           
          </div>

          <div class="alert border-success alert-dismissible fade show" role="alert">
         
                <i class="bi bi-tools" style="font-size: 3em;"></i>
              
         
                <span style="margin-left: 2em;"><strong> Upload the M and E latest tools</strong><span style="margin-left: 2em;"> Please may you rename the tools to indicate its usage</i>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        
    
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
             <h5 class="card-title">Tools </h5>
           
            <div class="row mb-3">  
                <fieldset name="Multiple Files Upload">
                    {% csrf_token %}
                    
                    <label for="formFileMultiple" class="form-label">Upload the tools </label>
                
                    <input class="form-control" type="file" id="multiFiles" name="files[]" multiple  />       
                    <br>
                    <!-- <input type="button" id="upload" name="upload" class="btn btn-primary"  > -->
                    <button id="upload"  name="upload" class="btn btn-primary">Upload File(s)</button>
                  
                  </fieldset>  
        
            
            </div>
  </div>
  </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">  
      <h5 class="card-title">SMS uploads </h5> 
            <div class="row mb-3">  
                <fieldset name="Multiple Files Upload">
                    {% csrf_token %}                    
                    <label for="formFileMultiple" class="form-label">Upload the sms excel file </label>                
                    <input class="form-control" type="file" id="smsmultiFiles" name="smsfiles[]" multiple  />       
                    <br>                  
                    <button id="smsupload"  name="smsupload" class="btn btn-primary">Upload SMS File(s)</button>                  
                  </fieldset>       
            
            </div>

  

  </div>
     </div>
</div>

</div>



<div class="alert border-success alert-dismissible fade show" role="alert">

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>


<div class="row">

  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">--</h4>      

      </div>
    </div>
  </div>


  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">--</h4>      

      </div>
    </div>
  </div>

</div>
  

  </div>






  <script src="{% static 'assets/js/custom.js'%}"></script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"
></script>
<script src="https://www.jsdelivr.com/package/npm/jquery"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>

<script type="text/javascript">
// JavaScript with the custom progress bar
// JavaScript without the progress bar and with button text change
$(document).ready(function (e) {
  $('#upload').on('click', function () {
    var form_data = new FormData();
    var ins = document.getElementById('multiFiles').files.length;
    var submitButton = $('#upload'); // Get the submit button

    if (ins == 0) {
      $('#msg').html('<div class="alert alert-danger" role="alert">Select at least one file</div>');
      return;
    }

    for (var x = 0; x < ins; x++) {
      form_data.append("files[]", document.getElementById('multiFiles').files[x]);
    }

    csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
    form_data.append("csrfmiddlewaretoken", csrf_token);

    // Change the submit button text to "WAITING" when the AJAX request starts
    submitButton.prop('disabled', true).html('WAIT FOR ALL FILES TO BE LOADED...');
    




    $.ajax({
      url: '{% url "admintools" %}', // point to server-side URL
      dataType: 'json', // what to expect back from server
      cache: false,
      contentType: false,
      processData: false,
      data: form_data,
      type: 'post',

      success: function (response) { // display success response
        $('#msg').html(response.msg);
        document.getElementById('multiFiles').value = ''; // clear the file input field

        // Restore the submit button text after a short delay (1.5 seconds in this case)
        setTimeout(function () {
          submitButton.prop('disabled', false).html('Upload Multiple Files');
        }, 1500);
      },

      error: function (response) {
        $('#msg').html(response.message); // display error response
        document.getElementById('multiFiles').value = ''; // clear the file input field

        // Restore the submit button text after a short delay (1.5 seconds in this case)
        setTimeout(function () {
          submitButton.prop('disabled', false).html('Upload Multiple Files');
        }, 3500);
      }
    });
  });
});


</script>


{% endblock content %}