{% extends "base.html" %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block content %}



  <!-- SECTION FOR THE CONTENT SCRIPTS -->

  <!--  -- E Charts-->
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.1/dist/echarts.min.js"></script>

<!-- start Data Table libraries  -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/v/bs4-4.6.0/jq-3.7.0/jszip-3.10.1/dt-1.13.5/af-2.6.0/b-2.4.1/b-colvis-2.4.1/b-html5-2.4.1/b-print-2.4.1/cr-1.7.0/date-1.5.1/fc-4.3.0/fh-3.4.0/kt-2.10.0/r-2.5.0/rg-1.4.0/rr-1.4.1/sc-2.2.0/sb-1.5.0/sp-2.2.0/sl-1.7.0/sr-1.3.0/datatables.min.css" rel="stylesheet">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/v/bs4-4.6.0/jq-3.7.0/jszip-3.10.1/dt-1.13.5/af-2.6.0/b-2.4.1/b-colvis-2.4.1/b-html5-2.4.1/b-print-2.4.1/cr-1.7.0/date-1.5.1/fc-4.3.0/fh-3.4.0/kt-2.10.0/r-2.5.0/rg-1.4.0/rr-1.4.1/sc-2.2.0/sb-1.5.0/sp-2.2.0/sl-1.7.0/sr-1.3.0/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<!-- end Datatable -->
 
<script>
  var jQuery_3_6_0 = $.noConflict(true);
  </script>
  

<!-- these are libraries for MULTIPLE SELECT -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
<script src="{% static 'assets/js/jquery.min.js'%}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<!-- end of libraries for multiple select -->
<script>
  var jQuery_2_1_1 = $.noConflict(true);
  </script>


<script src=" {% static 'assets/js/echarts.min.js'%}"></script>

<!----------END -->



<section class="section">
  {% load crispy_forms_tags %}
  <form method="post" id="tat-form">
    {% csrf_token %}
  <!-- Card with an image on left -->
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Apply Date Filter </h4>
    : Time you want to generate the report from
    <div class="row g-0">
      <div class="col-md-3">
        <div class="card-body">
          <label for="inputDate" style="font-weight: bold; font-family: Arial, sans-serif;">Start Date</label>
                    <div class="input-group date" data-provide="datepicker">                      
                      <input type="date" id="starttatdate" name="starttatdate" class="form-control" required>
                      <div class="input-group-addon">
                          <span class="glyphicon glyphicon-th"></span>
                          <span id="startdate-error" class="error-msg"></span>
                      </div>
                  </div>
        </div>
      </div> 
               <div class="col-md-3">
                <button id="submitfilter" name="submitfilter" class="btn btn-primary" style="margin-top: 10px;">Apply Filter</button>
              </div>
              </div>
       </div>
</div><!-- End Card with an image on left -->
  </form>

<!-- displaying the message alert -->
<div id="response-msg-container"></div>
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
<i class="bi bi-exclamation-octagon me-1"></i>
{{ message|safe }} <br>      
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}    




  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Turn Around Time (TAT) for Specimens</h5>

      <!-- Bordered Tabs Justified -->
      <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-home" type="button" role="tab" aria-controls="home" aria-selected="true"><strong>Pre TAT</strong></button>
        </li>
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-profile" type="button" role="tab" aria-controls="profile" aria-selected="false"><strong>Intra TAT</strong></button>
        </li>
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-contact" type="button" role="tab" aria-controls="contact" aria-selected="false"><strong>Post TAT</strong></button>
        </li>
      </ul>
      <div class="tab-content pt-2" id="borderedTabJustifiedContent">
        <div class="tab-pane fade show active" id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab">
          Pre-TAT, also known as Pre-Analytical TAT, represents the time taken from the moment the specimen is collected from the patient  until it is  in the laboratory<br>
           Difference of <strong>Date_Sampled</strong> and <strong>Date_Received</strong>


           <div class="col-lg-12">          
                <h5 class="card-title">
                  #Pre-TAT 
                </h5>      
                <table width="100%" id="pretattbl" class="display table-responsive">
                  <thead>
                    <!-- Headers from the AJAX call will be populated here -->
                </thead>
                <tbody>
                    <!-- Data from the AJAX call will be populated here -->
                </tbody>
                </table>       
          </div>









        </div>
        <div class="tab-pane fade" id="bordered-justified-profile" role="tabpanel" aria-labelledby="profile-tab">
          Intra-TAT, also known as Analytical TAT, refers to the time taken to perform the actual analysis of the specimen in the laboratory from the time it was received.<br>
          Difference of <strong>Date_of_Dispatch</strong> and <strong>Date_Received</strong>
        </div>
        <div class="tab-pane fade" id="bordered-justified-contact" role="tabpanel" aria-labelledby="contact-tab">
         Post-TAT, also known as Post-Analytical TAT, represents the time taken from the completion of the analysis until the final results are reported to the patient
        </div>
      </div><!-- End Bordered Tabs Justified -->

    </div>
  </div>




</section>

<script>
  jQuery_3_6_0(document).ready(function () {
      jQuery_3_6_0(".display").DataTable({
          dom: 'Bfrtip',
          buttons: [
              'copy', 'csv', 'excel', 'pdf', 'print'
          ]
      });
  });
  </script>

<!-- Make sure to include jQuery library before this script -->
<script>
  $.ajax({
    type: 'POST', 
    url: '{% url 'overalTAT' %}', 
    data: {
      startdate: startdate,     
      csrfmiddlewaretoken: '{{ csrf_token }}',
      
    },
    success: function (response) {
      // Clear the table headers and body
      $("#pretattbl thead").empty();  // Changed from #table to #pretattbl
      $("#pretattbl tbody").empty();  // Changed from #table to #pretattbl
  
      var data = response.data;
      var headersData;
  
      // Find the data for 'pre_tat_sql' to generate headers
      for (var i = 0; i < data.length; i++) {
        if (data[i].query_name === 'pre_tat_sql') {
          headersData = data[i].query_data;
          break;
        }
      }
  
      // Generate headers based on the keys (column names) of the first row of headersData
      if (headersData && headersData.length > 0) {
        var firstRow = headersData[0];
        var headers = "<tr>";
  
        for (var key in firstRow) {
          headers += "<th>" + key + "</th>";
        }
  
        headers += "</tr>";
        $("#pretattbl thead").append(headers);  // Changed from #table to #pretattbl
      }
  
      // Populate the table body with rows 
      for (var i = 0; i < data.length; i++) {
        var query_data = data[i].query_data;
        for (var j = 0; j < query_data.length; j++) {
          var row = query_data[j];
          var tableRow = "<tr>";
          
          for (var key in row) {
            // If the value is null, display a dash, otherwise display the value
            var displayValue = (row[key] === null) ? "-" : row[key];
            tableRow += "<td>" + displayValue + "</td>";
          }
          
          tableRow += "</tr>";
          $("#pretattbl tbody").append(tableRow);  // Changed from #table to #pretattbl
        }
      }
    },
    error: function (error) {
      console.log(error);
    }
  });
  </script>
  

{% endblock content %}