{% extends "base_SIE.html" %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% load custom_filters %}
{% block content %}

  <!-- SECTION FOR THE CONTENT SCRIPTS -->

  <!--  -- E Charts-->
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.1/dist/echarts.min.js"></script>

<!-- start Data Table libraries  -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/v/bs4-4.6.0/jq-3.7.0/jszip-3.10.1/dt-1.13.5/af-2.6.0/b-2.4.1/b-colvis-2.4.1/b-html5-2.4.1/b-print-2.4.1/cr-1.7.0/date-1.5.1/fc-4.3.0/fh-3.4.0/kt-2.10.0/r-2.5.0/rg-1.4.0/rr-1.4.1/sc-2.2.0/sb-1.5.0/sp-2.2.0/sl-1.7.0/sr-1.3.0/datatables.min.css" rel="stylesheet">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/v/bs4-4.6.0/jq-3.7.0/jszip-3.10.1/dt-1.13.5/af-2.6.0/b-2.4.1/b-colvis-2.4.1/b-html5-2.4.1/b-print-2.4.1/cr-1.7.0/date-1.5.1/fc-4.3.0/fh-3.4.0/kt-2.10.0/r-2.5.0/rg-1.4.0/rr-1.4.1/sc-2.2.0/sb-1.5.0/sp-2.2.0/sl-1.7.0/sr-1.3.0/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<!-- end Datatable -->
 
<script>
  var jQuery_3_6_0 = $.noConflict(true);
  </script>
  

<!-- these are libraries for MULTIPLE SELECT -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
<script src="{% static 'assets/js/jquery.min.js'%}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<!-- end of libraries for multiple select -->
<script>
  var jQuery_2_1_1 = $.noConflict(true);
  </script>

<!-- SweetAlert2 stylesheet -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>


<script type="text/javascript">
  window.onload = function() {
      document.body.style.zoom = "90%";
  }
</script>


<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src=" {% static 'assets/js/echarts.min.js'%}"></script>



<style>
    .display td, .display th {
        border-right: 1px solid #ddd; /* Right border for each cell */
    }
    .display th, .display td {
        border-bottom: 1px solid #ddd; /* Bottom border for each cell */
    }
    .display tr:last-child td {
        border-bottom: none; /* Remove bottom border for the last row */
    }
    .display thead th:last-child, .display tbody td:last-child {
        border-right: none; /* Remove right border for the last column */
    }

    .wrap-comments {
    word-wrap: break-word; 
    max-width: 1600px; /* or whatever maximum width you want */
     }

        .hide-element {
        display: none;
    }

      .bg-none {
          background-color: #f3f3f3; /* or any color you'd like */
      }


          /* Targeting the 2nd, 3rd, and 4th columns of the table */
    #AgeOldestsample td:nth-child(2),
    #AgeOldestsample td:nth-child(3),
    #AgeOldestsample td:nth-child(4) {
        width: 100px; /* Or whatever width you prefer */
    }


          /* Define the rotation animation */
      @keyframes rotate {
          from { transform: rotate(0deg); }
          to { transform: rotate(360deg); }
      }

      /* Apply the animation to the loading element */
      .loading {
          animation: rotate 1.5s linear infinite;
      }

 /* Style for the button */
 button {
            background-color: #e0e0e0; /* Light gray background */
            color: #a0a0a0; /* Faint text color */
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
            transition: 0.3s; /* Transition effect for hover */
        }

        button:hover {
            background-color: #c0c0c0; /* Slightly darker gray for hover */
        }

        i.bi {
            margin-right: 5px; /* Spacing between the icon and the text */
        }

        @keyframes rotate {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        .rotate-icon {
            animation: rotate 2s linear infinite;
        }


        #submitsync.active {
        background-color: rgb(147, 147, 245) !important;
        border-color: rgb(147, 147, 245) !important;
        font-weight: bold;
        color: black;
        }

/* loader for spinning */
    .loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }


  .province-cell {
    cursor: pointer;
    text-decoration: underline;
    color: blue;  // or any other color to indicate it's a link
}

.province-cell:hover {
    background-color: #f5f5f5;  // light gray background on hover
}




</style>



<div class="modal fade" id="provinceModal" tabindex="-1" role="dialog" aria-labelledby="provinceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="provinceModalLabel">Province Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Data will be populated here dynamically -->
            </div>
        </div>
    </div>
</div>



<!-- This is the section we are to put the spinning -->

<div id="spinner" class="loader" style="display:none;"></div>
<!-- end of spinning code -->




<form method="post" enctype="multipart/form-data" id="sync-form"></form>
{% csrf_token %}  
<div class="row">  
    <div class="col-lg-6">       
             
        <button type="button" id="submitsync"  name="submitsync"  title="ODK Sync"><i class="bi bi-arrow-repeat"  > ODK SurveyCTO Sync</i></button>  

               <!-- <button class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button> -->


    </div>
    <!-- style="font-size: 2rem;" -->
    <div class="col-lg-6">
        <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><i class="bi bi-pc-display-horizontal"  ></i></li>
              <li class="breadcrumb-item"><a href="#">Last sync date: </a></li>
              <li class="breadcrumb-item ">{{submission_date}}</li>
            </ol>
        </nav>
         
    </div>
   


    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
    <i class="bi bi-exclamation-octagon me-1"></i>
    {{ message|safe }} <br>      
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}    
</div>
</form>


<!-- lets put the filters -->
{% load crispy_forms_tags %}
<form method="POST">
    {% csrf_token %}

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="alert border-primary alert-dismissible fade show" role="alert">
                    <div class="row">

                        <div class="col-lg-3" style="display: flex; align-items: center;">
                            <i class="bi bi-book-" style="font-size: 4em;"></i>
                            <span style="margin-left: 2em;">
                                <strong>Apply the filter<br> <i>By default its for 30 days</i></strong>
                            </span>
                        </div>


                        <div class="col-lg-3">
                            <label for="inputDate" style="font-weight: bold; font-family: Arial, sans-serif;">Start
                                Date</label>
                            <input type="date" id="startdate" name="startdate" class="form-control" required>
                        </div>

                        <div class="col-lg-3">
                            <label for="inputDate" style="font-weight: bold; font-family: Arial, sans-serif;">End
                                Date</label>
                            <input type="date" id="enddate" name="enddate" class="form-control" required>
                        </div>

                        <div class="col-lg-3">
                            <label for="inputDate"
                                style="font-weight: bold; font-family: Arial, sans-serif;">.</label><br>
                            <button  id="submitfilter" name="submitfilter" class="btn btn-primary"
                                style="font-size: 20px; ">Submit</button>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</form>


<!-- end of filters -->


<figure>
    <blockquote class="blockquote">
      <p>PROVINCIAL LEVEL ODK Functionality.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      We are counting the number of  <cite title="Source Title">UNIQUE RIDERS</cite> submitting data per month
    </figcaption>
  </figure>


            <table width="100%" id="provinceODK" class="display table-responsive">
                <thead>
                    <tr>
                        {% for header in headers %}
                            <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for result in data %}
                        {% if result.query_name == 'odk_bike_fxn_provincial' %}
                            {% for row in result.query_data %}
                                <tr>
                                    {% for header in headers %}
                                        {% with cell_value=row|get_item:header %}
                                            {% if cell_value == None or cell_value == 0 %}
                                                <td class="province-cell" style="background-color: rgb(55, 54, 54)7, 86, 86);"></td>
                                            {% else %}
                                                <td class="province-cell">{{ cell_value }}</td>
                                            {% endif %}
                                        {% endwith %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>





            <div class="col-lg-12">
               
               
                    <h5 class="card-title">ODK Utilization by Province</h5>
      
                    <!-- Column Chart -->
                    
                    <div id="columnChart"  style="width: 100%; height: 500px"></div>
      
                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                    
                            function generateDistinctColors(count) {
                                const colors = [];
                                for (let i = 0; i < count; i++) {
                                    const hue = (i * 137.508) % 360; // Generate distinct hues
                                    colors.push(`hsl(${hue}, 70%, 50%)`);
                                }
                                return colors;
                            }
                    
                            // Getting data from Django context
                            const chartData = {{ chart_data|safe }};
                            const seriesCount = chartData.series.length;
                            const chartColors = generateDistinctColors(seriesCount);
                    
                            new ApexCharts(document.querySelector("#columnChart"), {
                                series: chartData.series,
                                colors: chartColors,
                                chart: {
                                    type: 'bar',
                                    height: 350
                                },
                                plotOptions: {
                                    bar: {
                                        horizontal: false,
                                        columnWidth: '55%',
                                        endingShape: 'rounded'
                                    },
                                },
                                dataLabels: {
                                    enabled: true,
                                    position: 'top',
                                    formatter: function(val) {
                                        return val;
                                    }
                                },
                                stroke: {
                                    show: true,
                                    width: 2,
                                    colors: ['transparent']
                                },
                                xaxis: {
                                    categories: chartData.categories,
                                },
                                yaxis: {
                                    title: {
                                        text: 'Number of riders'
                                    }
                                },
                                fill: {
                                    opacity: 1
                                },
                                tooltip: {
                                    y: {
                                        formatter: function(val) {
                                            return val + " riders";
                                        }
                                    }
                                }
                            }).render();
                        });
                    </script>
                          
                        
                    <!-- End Column Chart -->
      
               
              </div>












<script>
jQuery_3_6_0(document).ready(function () {
    jQuery_3_6_0(".display").DataTable({
        dom: 'Bfrtip',
        pageLength: 50 , // Display 50 rows by default
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
});
</script>
              

<script type="text/javascript">
    $('#submitsync').on('click', function () {
        var form_data = new FormData(); 
        var submitButton = $('#submitsync'); // Get the submit button 
    

       

        csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
        form_data.append("csrfmiddlewaretoken", csrf_token);
    
      
        
        // Add rotate class to the icon and active class to the button
        // submitButton.addClass('active').addClass('bi bi-arrow-repeat').find('.bi-arrow-repeat').addClass('rotate-icon');

        submitButton.prop('disabled', true).html('...SYNCING...');
        submitButton.addClass('active').addClass('bi-arrow-repeat');
        submitButton.find('.bi-arrow-repeat').addClass('rotate-icon');


        // submitButton.prop('disabled', true).html('...SYNCING...');
        // submitButton.addClass('active').addClass('bi-arrow-repeat');
        // submitButton.find('.bi-arrow-repeat').addClass('rotate-icon');
    
        
        $.ajax({
            url: '{% url "odk_specimen_and_results_sync" %}', // point to server-side URL
           // dataType: 'json', // what to expect back from server
            cache: false,
            contentType: false,
            processData: false,
            data: form_data,
            type: 'post',            

            success: function(response){
                $('#msg').html('<div class="alert alert-success alert-dismissible fade show" role="alert">' +
                                   '<i class="bi bi-check-circle-fill me-1"></i>' + response.msg +
                                   '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' +
                               '</div>');

                //Wait for 3 seconds and then reload the page
                setTimeout(function() {
                    location.reload();
                }, 3500); // 3000 milliseconds = 3 seconds

                 // Handle success logic here
            submitButton.removeClass('active').find('.bi-arrow-repeat').removeClass('rotate-icon');
            submitButton.prop('disabled', false).html('<i class="bi bi-arrow-repeat"> ODK SurveyCTO Sync</i>');

           // Display the Swal toast with the latest_date
            Swal.fire({
                title: 'Successfully Synced ODK SurveyCTO',
                text: 'Updated upto : ' + response.latest_date,
                icon: 'success'
            });

            // Update the breadcrumb item with the latest date from the AJAX response
            $(".breadcrumb-item").text(response.latest_date);

            }
        });


       
        
    });
    

</script>



 
<script type="text/javascript">
    $(document).ready(function() {
        $('#submitfilter').on('click', function(e) {
            

           // Show the spinner before making the AJAX request
            document.getElementById('spinner').style.display = 'block';
          // Add loading class and update button text
            submitButton.prop('disabled', true).addClass('loading').html('Loading...it can take a while. (5 min)..');
            var submitButton = $('#submitfilter'); 
            var startdateVal = $('#startdate').val();
            var enddateVal = $('#enddate').val();
    
            var starting = new Date(startdateVal);
            var ending = new Date(enddateVal);
            var today = new Date();
            today.setHours(0, 0, 0, 0);
    
            if (startdateVal == '' || enddateVal == '') {
                $("#response-msg-container").html(`
                    ...
                `);
                $("#startdate").focus();
                return;
            } else if (starting > today || ending > today) {
                $("#response-msg-container").html(`
                    ...
                `);
                $("#startdate").focus();
                return;
            } else if (starting > ending) {
                $("#response-msg-container").html(`
                Start date should not be greater than end date 
                `);
                $("#startdate").focus();
                return;
            } else if ((ending.getTime() - starting.getTime()) / (1000 * 3600 * 24) != 7) {
                $("#response-msg-container").html(`
                    ...
                `);
                $("#startdate").focus();
                return;
            } else if (starting.getDay() != 1 || ending.getDay() != 0) {
                $("#response-msg-container").html(`
                    ...
                `);
                $("#startdate").focus();
                return;
            } else {
    
              
                $.ajax({
                     type: 'POST', 
                     type: "POST",
                        url: '{% url 'SIE_odk_fxnProvince' %}', 
                        data: {
                          startdate: startdate,
                          enddate: enddate,
                          csrfmiddlewaretoken: '{{ csrf_token }}', // Include the CSRF token in the data
                        },

                       

                        
                        success: function (response) {
                       
                        $('#response-msg-container').html('<div class="alert alert-error" role="alert">' + responsd + '</div>');
    
                        },
                        error: function(error) {
                              console.log(error);
                            }
    
                            complete: function() {
                        // Revert the button text and appearance after processing is complete
                                            submitButton.prop('disabled', false).html('Submit');
                                        }
    
    
                }) // end of ajax 
                .done(function(response) {
                        // Handle successful response if needed
                    }).fail(function(jqXHR, textStatus, errorThrown) {
                        // Handle failed response if needed
                    }).always(function() {
                        // This code will run after the AJAX request completes, 
                        // regardless of whether it was successful or not.
                        
                        // Hide the spinner
                        document.getElementById('spinner').style.display = 'none';
                    });

                
                
                
                
               
            }
        });
    });
    
    
      </script>


<script>
$(document).ready(function() {
    $('#provinceODK tbody').on('click', '.province-cell', function() {
        let provinceName = $(this).text();

        $.ajax({
          
            url: '{% url 'fetch_province_data' %}', 
            type: 'GET',
            data: {'province': provinceName},
            success: function(response) {
                if (response.data && response.data.length) {
                    let content = '<ul>';
                    for (let item of response.data) {
                        content += '<li>' + item + '</li>';
                    }
                    content += '</ul>';
                    $('.modal-body').html(content);
                    $('#provinceModal').modal('show');
                } else {
                    console.error("No data received for province: " + provinceName);
                }
            },
            error: function(error) {
                console.error("Failed to fetch data for province: " + provinceName, error);
            }
        });
    });
});
</script>

{% endblock content %}