{% extends "base.html" %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% load custom_filters %}
{% block content %}

  <!-- SECTION FOR THE CONTENT SCRIPTS -->

  <!--  -- E Charts-->
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.1/dist/echarts.min.js"></script>

<!-- start Data Table libraries  -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/v/bs4-4.6.0/jq-3.7.0/jszip-3.10.1/dt-1.13.5/af-2.6.0/b-2.4.1/b-colvis-2.4.1/b-html5-2.4.1/b-print-2.4.1/cr-1.7.0/date-1.5.1/fc-4.3.0/fh-3.4.0/kt-2.10.0/r-2.5.0/rg-1.4.0/rr-1.4.1/sc-2.2.0/sb-1.5.0/sp-2.2.0/sl-1.7.0/sr-1.3.0/datatables.min.css" rel="stylesheet">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/v/bs4-4.6.0/jq-3.7.0/jszip-3.10.1/dt-1.13.5/af-2.6.0/b-2.4.1/b-colvis-2.4.1/b-html5-2.4.1/b-print-2.4.1/cr-1.7.0/date-1.5.1/fc-4.3.0/fh-3.4.0/kt-2.10.0/r-2.5.0/rg-1.4.0/rr-1.4.1/sc-2.2.0/sb-1.5.0/sp-2.2.0/sl-1.7.0/sr-1.3.0/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<!-- end Datatable -->
 
<script>
  var jQuery_3_6_0 = $.noConflict(true);
  </script>
  

<!-- these are libraries for MULTIPLE SELECT -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
<script src="{% static 'assets/js/jquery.min.js'%}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<!-- end of libraries for multiple select -->
<script>
  var jQuery_2_1_1 = $.noConflict(true);
  </script>



<script type="text/javascript">
  window.onload = function() {
      document.body.style.zoom = "90%";
  }
</script>


<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src=" {% static 'assets/js/echarts.min.js'%}"></script>



<style>
    .display td, .display th {
        border-right: 1px solid #ddd; /* Right border for each cell */
    }
    .display th, .display td {
        border-bottom: 1px solid #ddd; /* Bottom border for each cell */
    }
    .display tr:last-child td {
        border-bottom: none; /* Remove bottom border for the last row */
    }
    .display thead th:last-child, .display tbody td:last-child {
        border-right: none; /* Remove right border for the last column */
    }

    .wrap-comments {
    word-wrap: break-word; 
    max-width: 1600px; /* or whatever maximum width you want */
     }

        .hide-element {
        display: none;
    }

      .bg-none {
          background-color: #f3f3f3; /* or any color you'd like */
      }


          /* Targeting the 2nd, 3rd, and 4th columns of the table */
    #AgeOldestsample td:nth-child(2),
    #AgeOldestsample td:nth-child(3),
    #AgeOldestsample td:nth-child(4) {
        width: 100px; /* Or whatever width you prefer */
    }


          /* Define the rotation animation */
      @keyframes rotate {
          from { transform: rotate(0deg); }
          to { transform: rotate(360deg); }
      }


      $color-loader: #ce4233;

    .loader {
      width: 250px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-family: helvetica, arial, sans-serif;
      text-transform: uppercase;
      font-weight: 900;
      color: $color-loader;
      letter-spacing: 0.2em;
      
      &::before, &::after {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        background: $color-loader;
        position: absolute;
        animation: load .7s infinite alternate ease-in-out;
      }
      
      &::before {
        top: 0;
      }
      
      &::after {
        bottom: 0;
      }
    }

    @keyframes load {
      0% { left: 0; height: 30px; width: 15px }
      50% { height: 8px; width: 40px }
      100% { left: 235px; height: 30px; width: 15px}
}


</style>


<div class="loader">Loading...</div>

<section class="section">
    <div class="row">
      {% load crispy_forms_tags %}
                      <form  method="POST">
                        {% csrf_token %}

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
                 <div class="alert border-primary alert-dismissible fade show" role="alert">
                  <div class="row">

                   <div class="col-lg-3" style="display: flex; align-items: center;">
                          <i class="bi bi-book-half" style="font-size: 4em;"></i>
                          <span style="margin-left: 2em;">
                              <strong>Apply the filter<br> <i>By default its for this Week</i></strong>
                          </span>
                      </div>

                
                    <div class="col-lg-3">
                      <label for="inputDate" style="font-weight: bold; font-family: Arial, sans-serif;">Start Date</label>
                       <input type="date" id="startdate" name="startdate" class="form-control" required>             
                    </div>

                    <div class="col-lg-3">
                      <label for="inputDate" style="font-weight: bold; font-family: Arial, sans-serif;">End Date</label>
                      <input type="date" id="enddate" name="enddate" class="form-control" required>                      
                    </div>

                    <div class="col-lg-3">
                      <label for="inputDate" style="font-weight: bold; font-family: Arial, sans-serif;">.</label><br>
                      <button id="submitfilter" name="submitfilter" class="btn btn-primary" style="font-size: 20px; ">Submit</button>

                 
             
                    </div>
                    
                   
                  </div>
                 
            </div>
            </div>    
        </div>
      </div>
    </form>

      <!-- displaying the message alert -->
          <div id="response-msg-container"></div>
          {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
          <i class="bi bi-exclamation-octagon me-1"></i>
          {{ message|safe }} <br>      
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}   



      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
        
            <h5 class="card-title">Specimens Received This week ending           </h5>

            <!-- Column Chart -->
           
            <div id="sampleReceivedChart" style="width: 100%; height: 700px"></div>

           
            <!-- End Column Chart -->

          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">VL Testing Performance</h5>

            <!-- Bar Chart -->
            <div id="VLTesting"  style="width: 100%; height: 500px"></div>
            <script>

                    var sites = [ 
                      {% for result in data %}
                                {% if result.query_name == 'percentage_achievement' %}
                                    {% for row in result.query_data %}
                                    '{{ row.Name_of_Lab }}',
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}

                          ];

                      //----total runs ----
                      
                      var seriesSitesDict = {};
                                    {% for result in data %}
                                      {% if result.query_name == 'percentage_achievement' %}
                                          {% for row in result.query_data %}
                                          seriesSitesDict['{{ row.Name_of_Lab }}'] = '{{ row.Total_Patients_Run }}';
                                          {% endfor %}
                                      {% endif %}
                                    {% endfor %}

                      
                      var seriesSites =sites.map(function(overu) {
                                  return seriesSitesDict[overu];
                              });
                      
                      //---Weekly Series
                      var seriesWklyTargetDict = {};
                                    {% for result in data %}
                                      {% if result.query_name == 'percentage_achievement' %}
                                          {% for row in result.query_data %}
                                          seriesWklyTargetDict['{{ row.Name_of_Lab }}'] = '{{ row.weekly_targets }}';
                                          {% endfor %}
                                      {% endif %}
                                    {% endfor %}

                      
                      var seriesWklyTarget =sites.map(function(oeru) {
                                  return seriesWklyTargetDict[oeru];
                              });

                      //---- Achievements
                      var seriesAchieveDict = {};
                                    {% for result in data %}
                                      {% if result.query_name == 'percentage_achievement' %}
                                          {% for row in result.query_data %}
                                          seriesAchieveDict['{{ row.Name_of_Lab }}'] = '{{ row.Target_Achievement }}';
                                          {% endfor %}
                                      {% endif %}
                                    {% endfor %}

                      
                      var seriesAchieve =sites.map(function(over) {
                                  return seriesAchieveDict[over];
                              });
                      //---perc---------------------------------------------------------------->
                      var seriesPercDict = {};
                                    {% for result in data %}
                                      {% if result.query_name == 'percentage_achievement' %}
                                          {% for row in result.query_data %}
                                          seriesPercDict['{{ row.Name_of_Lab }}'] = '{{ row.percent_target }}';
                                          {% endfor %}
                                      {% endif %}
                                    {% endfor %}

                      
                        var seriesPerc = sites.map(function(ove) {
                                                    return parseFloat(seriesPercDict[ove]); // Parse as float to ensure the data is treated as a number
                                                });
                      
                             
                              var options = {
                      series: [{
                        name: 'Number of Tests Done',
                        type: 'column',
                        data: seriesSites
                      }, {
                        name: 'Percentage Achievement',
                        type: 'area',
                        data: seriesAchieve,                       
                        yAxisIndex: 1  // Make sure this series is associated with the second y-axis
   
                      },
                      
                    
                    
                    ],
                      chart: {
                        height: 500,
                        type: 'line',
                        stacked: false,
                      },
                      stroke: {
                        width: [0, 2, 5],
                        curve: 'smooth'
                      },
                      plotOptions: {
                        bar: {
                          columnWidth: '50%'
                        }
                      },
                      fill: {
                        opacity: [0.85, 0.25, 1],
                        gradient: {
                          inverseColors: false,
                          shade: 'light',
                          type: "vertical",
                          opacityFrom: 0.85,
                          opacityTo: 0.55,
                          stops: [0, 100, 100, 100]
                        }
                      },
                      labels: sites,
                      markers: {
                        size: 0
                      },
                      xaxis: {
                        type: 'Lab'
                      },
                      yaxis: [{
                        title: {
                          text: 'Number of Tests Done',
                        },
                        min: 0
                      }, {
                        opposite: true,
                        title: {
                          text: 'Percentage',
                        },
                        labels: {
                          formatter: function (value) {
                            return value + '%';
                          }
                        }
                      }],



                      tooltip: {
                        shared: true,
                        intersect: false,
                        y: {
                          formatter: function (y) {
                            if (typeof y !== "undefined") {
                              return y.toFixed(0) + " ";
                            }
                            return y;
                          }
                        }
                      }
                    };


        var chart = new ApexCharts(document.querySelector("#VLTesting"), options);
        chart.render();
            </script>

           
            <!-- End Bar Chart -->

          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">NATPHARM RECEIVED STOCKS
            </h5>

            <table width="100%" id="AgeOldestsample" class="display table-responsive">
              <thead>
                  <tr>
                      <th>Laboratory</th>
                      <th>Platform</th>
                      <th>Test Type</th>
                      <th>Kits received</th>
                     
                  </tr>
              </thead>
              <tbody>
                  {% for result in data %}
                      {% if result.query_name == 'Natpharm_received' %}
                          {% for row in result.query_data %}
                              <tr>
                                <td><strong>{{ row.name_of_lab|default:"" }} </strong></td>
                                <td>{{ row|get_item:"Platform_Roche_Abbott_Hologic_BMX"|default:"" }}</td>
                                <td>{{ row|get_item:"Test_Type"|default:"" }}</td>
                                <td>{{ row|get_item:"natpharm_kits_received_inthiswk"|default:"" }}</td>
                   
                              </tr>
                          {% endfor %}
                      {% endif %}
                  {% endfor %}
              </tbody>
          </table>
          
            <!-- End Pie Chart -->

          </div>
        </div>
      </div>



      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">EID Samples Tested on GeneXpert per lab
            </h5>
          
               <table width="100%" id="eidnoTests" class="display table-responsive">
              <thead>
                <tr>
                  <th>Laboratory</th>
                  <th>Date</th>           
                  <th>EID Tested</th>
                        
                </tr>
              </thead>
              <tbody>
                {% for result in data %}
                    {% if result.query_name == 'EID_not_tested' %}
                        {% for row in result.query_data %}
                            <tr>
                                <td><strong>{{ row.name_of_lab }}</strong></td>
                                <td>{{ row.Date }}</td>
                                <td > {{ row|get_item:"Eid_Tested"|default:"" }}    </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
  



          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">EID Samples not yet tested(carryover+backlog) received against Tested</h5>

            <!-- Donut Chart -->
          
            <div id="eidnottested"  style="width: 100%; height: 500px"></div>
            <script>

var chartDom = document.getElementById('eidnottested');
var myChart = echarts.init(chartDom);
var option;

var nameOflab = [ 
                      {% for result in data %}
                                  {% if result.query_name == 'EID_not_tested' %}
                                      {% for row in result.query_data %}
                                      '{{ row.Name_of_Lab }}',
                                      {% endfor %}
                                  {% endif %}
                              {% endfor %}

                          ];
                  
                        var seriesCarryOverDict = {};
                                        {% for result in data %}
                                        {% if result.query_name == 'EID_not_tested' %}
                                            {% for row in result.query_data %}
                                            seriesCarryOverDict['{{ row.Name_of_Lab }}'] = '{{ row.Eid_carryover }}';
                                            {% endfor %}
                                        {% endif %}
                                        {% endfor %}

                        
                        var seriesCarryOver =nameOflab.map(function(o) {
                                    return seriesCarryOverDict[o];
                                });
                //---------------------------------------------------------------->
                var seriesEIDReceivedDict = {};
                                        {% for result in data %}
                                        {% if result.query_name == 'EID_not_tested' %}
                                            {% for row in result.query_data %}
                                            seriesEIDReceivedDict['{{ row.Name_of_Lab }}'] = '{{ row.Eid_received }}';
                                            {% endfor %}
                                        {% endif %}
                                        {% endfor %}

                        
                        var seriesEIDReceived =nameOflab.map(function(o) {
                                    return seriesEIDReceivedDict[o];
                                });
                //---------------------------------------------------------------->
                var seriesEIDTestedDict = {};
                                        {% for result in data %}
                                        {% if result.query_name == 'EID_not_tested' %}
                                            {% for row in result.query_data %}
                                            seriesEIDTestedDict['{{ row.Name_of_Lab }}'] = '{{ row.Eid_Tested }}';
                                            {% endfor %}
                                        {% endif %}
                                        {% endfor %}

                        
                        var seriesEIDTested =nameOflab.map(function(o) {
                                    return seriesEIDTestedDict[o];
                                });
                //---------------------------------------------------------------->


                option = {
  tooltip: {
    trigger: 'axis',
    axisPointer: {
      type: 'shadow'
    }
  },
  toolbox: {
    show: true,
    feature: {
      dataView: { show: true, readOnly: false },
      magicType: { show: true, type: ['line', 'bar','pie'] },
      restore: { show: true },
      saveAsImage: { show: true }
    }
  },
  legend: {},
  grid: {
    left: '8%',
    right: '4%',
    bottom: '6%',
    containLabel: true
  },
  xAxis: {
    type: 'value'
  },
  yAxis: {
    type: 'category',
    data: nameOflab
  },
  series: [
    {
      name: 'EID CarryOver',
      type: 'bar',
      stack: 'total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data: seriesCarryOver
    },
    {
      name: 'EID Received',
      type: 'bar',
      stack: 'total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data: seriesEIDReceived
    },
    {
      name: 'EID Tested',
      type: 'scatter',
      label: {
        show: true,
        position: 'right',
        formatter: function(params) {
          return params.value[1];
        }
      },
      data: seriesEIDTested.map(function(value, index) {
        return [value, nameOflab[index]];
      }),
      z: 2  // Ensure scatter points are on top
    }
  ]
};

option && myChart.setOption(option);

            </script>


           
            <!-- End Donut Chart -->

          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Number of Failed Samples </h5>
            <table width="100%" id="failed_samples" class="display table-responsive">
              <thead>
                  <tr>
                      {% for header in headers %}
                          <th>{{ header }}</th>
                      {% endfor %}
                  </tr>
              </thead>
              <tbody>
                  {% for result in data %}
                      {% if result.query_name == 'failed_Samples' %}
                          {% for row in result.query_data %}
                              <tr>
                                  {% for header in headers %}
                                      {% with cell_value=row|get_item:header %}
                                          {% if cell_value == None or cell_value == 0 %}
                                              <td style="background-color: rgb(55, 54, 54)7, 86, 86);"></td>
                                          {% else %}
                                              <td>{{ cell_value }}</td>
                                          {% endif %}
                                      {% endwith %}
                                  {% endfor %}
                              </tr>
                          {% endfor %}
                      {% endif %}
                  {% endfor %}
              </tbody>
          </table>
          

           
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Machine Assay Failure Rate by Lab</h5>

            <!-- Radial Bar Chart -->
            <div id="radialBarChart"></div>

           
            <!-- End Radial Bar Chart -->

          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Samples not yet Tested (carryover+backlog) by Lab + carryover fluctuations</h5>

            <!-- Bubble Chart -->
            <div id="bubbleChart"></div>

           
            <!-- End Bubble Chart -->

          </div>
        </div>
      </div>



      
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">VL/EID Age of Oldest Sample Update</h5>
            
            <table width="100%" id="AgeOldestsample" class="display table-responsive">
              <thead>
                  <tr>
                      <th>Laboratory</th>
                      <th>Plasma</th>
                      <th>DBS</th>
                      <th>EID</th>
                      <th>Comments</th>
                  </tr>
              </thead>
              <tbody>
                  {% for result in data %}
                      {% if result.query_name == 'Age_Oldest_Sample' %}
                          {% for row in result.query_data %}
                              <tr>
                                <td><strong>{{ row.Name_of_Lab|default:"" }} </strong></td>
                                <td>{{ row|get_item:"Plasma VL"|default:"" }}</td>
                                <td>{{ row|get_item:"DBS VL"|default:"" }}</td>
                                <td>{{ row|get_item:"DBS EID"|default:"" }}</td>
                                <td class="wrap-comments">{{ row.Comments|default:"" }}</td>
                              </tr>
                          {% endfor %}
                      {% endif %}
                  {% endfor %}
              </tbody>
          </table>
          
          

          </div>
        </div>
      </div>



      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">VL/EID Reagent Stock Update</h5>
            
          <table width="100%" id="StockUPdateTable" class="display table-responsive">
              <thead>
                <tr>
                  <th>Platform</th>
                  <th>Number of tests kits (Labs)</th>
                  <th>Number of test kits (central level) </th>
                  <th>Total Number of tests (lab)</th>
                  <th>Total Number of tests (Central level + lab)</th>
                  <th>Months of Stock (lab)</th>
                  <th>Months of Stock (Central Level + lab)</th>

                        
                </tr>
              </thead>
              <tbody>
                {% for result in data %}
                    {% if result.query_name == 'Stock_update_Table' %}
                        {% for row in result.query_data %}
                            <tr>
                                <td><strong> {{ row.Platform }} </strong></td>
                                <td>{{ row.Number_of_tests_kits_Labs }}</td>
                                <td>{{ row.No_of_test_kits_Central_level|default:"" }}   </td>         
                                  
                                <td > {{ row.Total_Number_of_tests_lab|default:"" }} </td>

                                <td > {{ row.Total_Number_of_tests_Central_level_lab|default:"" }}   </td>
                                <td > {{ row.Months_of_Stock_lab|default:"" }}   </td>
                                <td > {{ row.Months_of_Stock_Central_Level_lab|default:"" }}  </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
           


          

          </div>
        </div>
      </div>



      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">LIMS Remote Login Utilization</h5>

            <!-- Bubble Chart -->
           <!--  <table width="100%" id="remotelogin" class="display table-responsive">
              <thead>
                <tr>
                  
                  <th>Province</th> 
                 <th>District</th> 
                 <th>HUB_facility</th>
                 <th>Samples from Facilities</th>
                 <th># of specimens not entered at Hub</th>
                 <th># of Specimens entered into LIMS at hub</th>
                 <th>Numerator</th>
                 <th>% of Specimens entered into LIMS in relation to facility served</th>   
               
                </tr>
              </thead>
             
              <tbody>
                {% for result in data %}
                    {% if result.query_name == 'LIMS_Utilization' %}
                        {% for row in result.query_data %}
                            <tr>
                              <td><strong>{{ row.province|default:"" }} </strong></td>
                              <td>{{ row.DenoDist|default:"" }} </td>
                              <td>{{ row|get_item:"HUB_facility"|default:"" }}</td>
                              <td>{{ row|get_item:"#denominator"|default:"" }}</td>
                              <td>{{ row|get_item:"#num"|default:"" }}</td>
                              <td>{{ row|get_item:"#standcount"|default:"" }}</td>
                              <td>{{ row|get_item:"Numerator"|default:"" }}</td>
                              <td>{{ row|get_item:"Utilization"|default:"" }}</td>                              
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </tbody>
            </table>
  

         -->
          
           
            <!-- End Bubble Chart -->

          </div>
        </div>
      </div>




    </div>

  </section>



  <!---------Sample Received--------------->

            <script>
        var labs = [ 
                            {% for result in data %}
                                        {% if result.query_name == 'Sample_Received' %}
                                            {% for row in result.query_data %}
                                            '{{ row.Name_of_Lab }}',
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}

                                ];
        
              var seriesDBSDict = {};
                              {% for result in data %}
                              {% if result.query_name == 'Sample_Received' %}
                                  {% for row in result.query_data %}
                                  seriesDBSDict['{{ row.Name_of_Lab }}'] = '{{ row.DBS }}';
                                  {% endfor %}
                              {% endif %}
                              {% endfor %}

              
              var seriesDBS =labs.map(function(overu) {
                          return seriesDBSDict[overu];
                      });
      //---------------------------------------------------------------->
              var seriesPlasmaDict = {};
                              {% for result in data %}
                              {% if result.query_name == 'Sample_Received' %}
                                  {% for row in result.query_data %}
                                  seriesPlasmaDict['{{ row.Name_of_Lab }}'] = '{{ row.Plasma }}';
                                  {% endfor %}
                              {% endif %}
                              {% endfor %}

              
              var seriesPlasma =labs.map(function(ov) {
                          return seriesPlasmaDict[ov];
                      });
        //----------------------------------------------------------------->

        var seriesWeelytargetDict = {};
                              {% for result in data %}
                              {% if result.query_name == 'Sample_Received' %}
                                  {% for row in result.query_data %}
                                  seriesWeelytargetDict['{{ row.Name_of_Lab }}'] = '{{ row.weekly_targets }}';
                                  {% endfor %}
                              {% endif %}
                              {% endfor %}

              
              var seriesWeelytarget =labs.map(function(ov) {
                          return seriesWeelytargetDict[ov];
                      });

      //--------------------------------------------------------------->
                        // Sort the data arrays in descending order
              // seriesPlasma.sort((a, b) => b - a);
              // seriesDBS.sort((a, b) => b - a);
              // seriesWeelytarget.sort((a, b) => b - a);

              seriesPlasma = seriesPlasma.map(Number);
              seriesDBS = seriesDBS.map(Number);

              // Calculate the sum of 'Plasma' and 'DBS' for each lab
              var sums = seriesPlasma.map(function (value, index) {
                return value + seriesDBS[index];
              });

              // Find the maximum sum
              var max = Math.max(...sums);
              var overallMax = Math.max(max, ...seriesWeelytarget);

              
                var options = {
                    
          series: [{
          name: 'Plasma',
          type: 'bar',
          data: seriesPlasma
        }, {
          name: 'DBS',
          type: 'bar',
          data: seriesDBS
        }, {
          name: 'Target',
          type: 'line',
          data: seriesWeelytarget,
          markers: {
                    show: true, // This enables the markers on the line
                    size: 8,   // Adjust the size of the markers
                  }
        }],
          chart: {
          height: 600,
          type: 'line',
          stacked: true
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          width: [1, 1, 4]
        },
    
        xaxis: {
          categories: labs,
        },
        yaxis: [
          {
            axisTicks: {
              show: true,
            },
            axisBorder: {
              show: true,
              color: '#008FFB'
            },
            labels: {
              style: {
                colors: '#008FFB',
              }
            },
            title: {
              text: "Plasma Specimens",
              style: {
                color: '#008FFB',
              }
            },
            tooltip: {
              enabled: true
            },
            
            min: 0,
            max: overallMax,
            tickAmount: 5,
            
          },
          {
            seriesName: 'Plasma',
            opposite: true,
            axisTicks: {
              show: true,
            },
            axisBorder: {
              show: true,
              color: '#00E396'
            },
            labels: {
              style: {
                colors: '#00E396',
              }
            },
            title: {
              text: "DBS Specimens",
              style: {
                color: '#00E396',
              }
            },

            min: 0,
            max: overallMax,
            tickAmount: 5,

          },
          {
            seriesName: 'DBS',
            opposite: true,
            axisTicks: {
              show: true,
            },
            axisBorder: {
              show: true,
              color: '#FEB019'
            },
            labels: {
              style: {
                colors: '#FEB019',
              },
            },
            title: {
              text: "Target",
              style: {
                color: '#FEB019',
              }
            },

            min: 0,
            max: overallMax,
            tickAmount: 5,
          },
        ],



        tooltip: {
          fixed: {
            enabled: true,
            position: 'topLeft', // topRight, topLeft, bottomRight, bottomLeft
            offsetY: 30,
            offsetX: 60
          },
        },
        legend: {
          horizontalAlign: 'left',
          offsetX: 40
        }
        };

        var chart = new ApexCharts(document.querySelector("#sampleReceivedChart"), options);
        chart.render();     
    
        
</script>


<script>
  jQuery_3_6_0(document).ready(function () {
      jQuery_3_6_0(".display").DataTable({
          dom: 'Bfrtip',
          pageLength: 50 , // Display 50 rows by default
          buttons: [
              'copy', 'csv', 'excel', 'pdf', 'print'
          ]
      });
  });
  </script>




 
<script type="text/javascript">
$(document).ready(function() {
    $('#submitfilter').on('click', function(e) {
      // Add loading class and update button text
        submitButton.prop('disabled', true).addClass('loading').html('Loading...');
        var submitButton = $('#submitfilter'); 
        var startdateVal = $('#startdate').val();
        var enddateVal = $('#enddate').val();

        var starting = new Date(startdateVal);
        var ending = new Date(enddateVal);
        var today = new Date();
        today.setHours(0, 0, 0, 0);

        if (startdateVal == '' || enddateVal == '') {
            $("#response-msg-container").html(`
                ...
            `);
            $("#startdate").focus();
            return;
        } else if (starting > today || ending > today) {
            $("#response-msg-container").html(`
                ...
            `);
            $("#startdate").focus();
            return;
        } else if (starting > ending) {
            $("#response-msg-container").html(`
            Start date should not be greater than end date 
            `);
            $("#startdate").focus();
            return;
        } else if ((ending.getTime() - starting.getTime()) / (1000 * 3600 * 24) != 7) {
            $("#response-msg-container").html(`
                ...
            `);
            $("#startdate").focus();
            return;
        } else if (starting.getDay() != 1 || ending.getDay() != 0) {
            $("#response-msg-container").html(`
                ...
            `);
            $("#startdate").focus();
            return;
        } else {

          
            $.ajax({
                 type: 'POST', 
                 type: "POST",
                    url: '{% url 'weeklyNarrative_view' %}', 
                    data: {
                      startdate: startdate,
                      enddate: enddate,
                      csrfmiddlewaretoken: '{{ csrf_token }}', // Include the CSRF token in the data
                    },
                    success: function (response) {
                    $('#response-msg-container').html('<div class="alert alert-error" role="alert">' + responsd + '</div>');

                    },
                    error: function(error) {
                          console.log(error);
                        }

                        complete: function() {
                    // Revert the button text and appearance after processing is complete
                                        submitButton.prop('disabled', false).html('Submit');
                                    }


            }); // end of ajax 
        }
    });
});


  </script>
{% endblock content %}